.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  padding: 10px 0 ;
  
}

.grid> div {
  /* display: grid; */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* grid-gap: 1rem; */
  text-align: center;
  /* justify-content: center; */
  /* padding: 5px; */
  box-shadow:0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}




.Img {
  width: 200px;
  height: 200px;
}