body {
  padding: 0;
  margin: 20px;
  background: #e9eaed;
  /* background-image: url(/img/Background.jpg); */
}





@media screen and (max-width: 600px) {
  nav {
    font-size: 14px;
  }
  .Img {
    width: 100px;
    height: 100px;
  }
  .Pimg {
    width: 75px;
    height: 75px;
  }

  .Pbox3 h4 {
    text-align: center;
  }

  .Pbox3 h5 {
    text-align: center;
  }

  .Pbox3 p {
    text-align: center;
  }
  .image {
    width: 150px;
    height: 325px;
  }

  #slider {
    width: 250px;
  }
}

