body {
  padding: 0;
  margin: 0;
  background: #e9eaed;
  /* background-image: url(/img/Background.jpg); */
}
/* header {
  background-color: white;
  text-align: center;
}

#Logo {
  width: 300px;
  height: 150px;
}

.clr {
  clear: both;
}

a {
  text-decoration: none;
  color: black;
} */



@media screen and (max-width: 800px) {
  nav {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    font-size: 14px;
  }
  .Img {
    width: 100px;
    height: 100px;
  }
  .Pimg {
    width: 75px;
    height: 75px;
  }

  .Pbox3 h4 {
    text-align: center;
  }

  .Pbox3 h5 {
    text-align: center;
  }

  .Pbox3 p {
    text-align: center;
  }
  .image {
    width: 150px;
    height: 325px;
  }

  #slider {
    width: 250px;
  }
}

